<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css"/>		
		<link rel="stylesheet" type="text/css" href="../../css/his.css"/>
	</head>
	<body>
		<!--table START-->
		<div class="container-fluid" style="background-color: #F5F5F5;">		   				
			<div class="container-fluid text-center">
				<h3>选择处置项</h3>
			</div>
			<div class="col-sm-2 allborder">		   			 	
		    	<div class="row" id="">
		    		<ul class="nav nav-pills nav-stacked ">
					   <li class="active"><a href="commonuse.html" >保健类</a></li>
					   <li><a href="commonuse.html">洁牙</a></li>
					   <li><a href="#ios" >麻醉</a></li>
					   <li><a href="#">美白</a></li>
					   <li><a href="#">余弗</a></li>
					   <li><a href="#">窝沟封闭</a></li>							   
					</ul>
		    	</div>				    						    
   			 </div>
   			 <!--右侧内容-->
   			  
		    <!--右侧内容-->
		</div>		   			
	</body>
</html>
