.middle{float: none;
margin: 0 auto;}
i{font-style: normal;}
.clear{clear: both;}
.kong{height: 15px;}
.allborder{border: 1px solid #CCCCCC;}
.border-right{border-right: 1px solid #ccc;}
.addoverflow{overflow: auto;height: 400px;}
/*鐧婚檰椤�/
body.login-color{ background: url(../img/bg_01.jpg) repeat;}
.loginCss{margin-top: 190px;
background-color: #d8dbe0;
padding-bottom: 20px;}
.ul-nav{background-color: #21B8C6;}
.ul-nav ul li{width: 33.3333%;margin-bottom: 0px;}
.ul-nav ul li a{width: 100%;}
.mynav{border-bottom: 0px;width: 100%;}
.mynav li a{color: #FFFFFF;border: 0;}
.mynav li a:hover{background-color: #21B8C6;}
.mynav li .active>a{background-color: #FFFFFF;border: 0px;border-radius: 0;}
.sm3-logo{margin-top: 10px;margin-bottom: 20px;}
.panel{border: none;}
.col-sm-2 a.text-dection{text-decoration: underline;color: #58bccc;}
.table-striped tr:nth-of-type(1){background-color: #e5f0f4;}
.btngroup button{margin-right: 5px;background-color: #58bccc;border-color: #58bccc;color: white;}
.btngroup button.success{color: white;}
.btngroup button.btn-color{background-color: #FFFFFF;color: #58bccc;}
.col-sm-2 span.date-icon{position: absolute;right: -12px;bottom: 7px;}
/*鏃ユ湡鎺т欢*/
.laydate_bottom{background-color: #f5f5f5;padding: 5px;}
.row-xs-1 .col-xs-1{background-color: #CCCCCC;padding:0;text-align:center;margin-right:10px;margin-bottom: 4px;margin-top: 2px;}
.row-xs-1 .col-xs-1 i{display: none;}
/*淇敼棰勭害*/
.set-span{position:absolute;top: 5px;right:150px;}
.col-sm-2 a.btn-gray{background-color: #EEEEEE;}
.pos-span{position: absolute;right: -20px;top: 5px;}
