<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enjoyhis.persistence.his.dao.ProcessDao">

	<resultMap id="BaseResultMap" type="com.enjoyhis.pojo.Process">
		<result column="id" property="id" />
		<result column="stat_date" property="statDate" />
		<result column="status" property="status" />
		<result column="unit_code" property="unitCode" />
		<result column="operator" property="operator" />
		<result column="isrunning" property="isrunning" />
		<result column="date_status" property="dateStatus" />
	</resultMap>

	<select id="find" resultMap="BaseResultMap" parameterType="java.io.Serializable">
		select id, stat_date, status, unit_code, operator, isrunning, date_status
		from REPORT_PROCESS
		where
		id = #{id}
	</select>

	<select id="findAll" resultMap="BaseResultMap">
		select id, stat_date, status, unit_code, operator, isrunning, date_status
		from REPORT_PROCESS
	</select>

	<delete id="delete" parameterType="java.io.Serializable">
		delete from REPORT_PROCESS
		where
		id = #{id}
	</delete>

	<delete id="deleteAll">
		delete from REPORT_PROCESS
	</delete>

	<update id="update" parameterType="com.enjoyhis.pojo.Process">
		update REPORT_PROCESS
		set
		id = #{id, javaType=Long, jdbcType=INT},
		stat_date = #{statDate, javaType=Date, jdbcType=TIMESTAMP},
		status = #{status, javaType=Integer, jdbcType=INT},
		unit_code = #{unitCode, javaType=String, jdbcType=VARCHAR},
		operator = #{operator, javaType=String, jdbcType=VARCHAR},
		isrunning = #{isrunning, javaType=Integer, jdbcType=INT}
		where
		id = #{id}
	</update>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.enjoyhis.pojo.Process" >
    update report_process
    <set >
      <if test="statDate != null" >
        stat_date = #{statDate,jdbcType=DATE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="unitCode != null" >
        unit_code = #{unitCode,jdbcType=VARCHAR},
      </if>
      <if test="operator != null" >
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="isrunning != null" >
        isrunning = #{isrunning,jdbcType=INTEGER},
      </if>
      <if test="dateStatus != null" >
        date_status = #{dateStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
	<!--codegen -->

	<select id="findBiger" resultMap="BaseResultMap" >
		SELECT * FROM report_process WHERE STATUS = 6 ORDER BY stat_date DESC LIMIT 0, 1;
	</select>

</mapper>